<div
  id="carouselExampleControls"
  class="carousel slide"
  data-bs-ride="carousel"
>
  <div class="carousel-inner">
    <div class="carousel-item active" style="height: 600px">
      <img src="../../assets/img/1.jpg" class="d-block w-100" alt="..." />
    </div>
    <div class="carousel-item" style="height: 600px">
      <img src="../../assets/img/3.jpg" class="d-block w-100" alt="..." />
    </div>
  </div>
  <button
    class="carousel-control-prev"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button
    class="carousel-control-next"
    type="button"
    data-bs-target="#carouselExampleControls"
    data-bs-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<div class="container text-center mt-5">
  <iframe
  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3664.396758279302!2d-51.20553985449218!3d-23.30135925178531!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94eb5b13e520bedf%3A0x73f31fbf4cc2248d!2sPar%C3%B3quia%20Santo%20Ant%C3%B4nio%20de%20P%C3%A1dua!5e0!3m2!1spt-BR!2sbr!4v1684528217567!5m2!1spt-BR!2sbr"
  width="600"
  height="450"
  style="border: 0"
  allowfullscreen=""
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
  class="border border-5 border-warning shadow"
></iframe>
</div>

